body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.note-list ul {
    display: grid;

    gap: 1em;
    list-style: none;
    padding: 5px;
    /* background-color: aliceblue; */

}

.note-list li {
    background-color: aqua;
    border: 2px solid rgb(17, 30, 170);
}
.title{
    margin-top: 11px;
    margin-bottom: 11px;
    border-bottom: 1px solid rgb(117, 114, 114);
  padding-bottom: 5px;
}


.menu-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;   /* או left */
  padding: 7px;
   font-size: 40px;
   border-radius: 50px;
     border: none;
}
.add-button{
    background-color: blue;
    position: fixed;
    bottom: 20px;
    left: 20px;   /* או left */
    padding: 10px;
    
    font-size: 45px;
    border-radius: 17px;
    border: none;
}
.note-img{
    /* height: 100px; */
    width: 100px;
}
.note-input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

.note-input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}


.Color-changer-button{
    /* background-color: rgb(200, 140, 19); */
    padding: 10px;
    border-radius: 50%;
}
.note{
    /* border: 5px solid #7b1919; */
    
    display: grid;
    grid-template-columns: repeat(5, 110px);
    grid-template-rows: repeat(3,auto);
    /* background-color: aqua; */
    
}
.note-list li{
    border-radius: 8px;
border: 1px solid gainsboro;
}
/* .note-list{
    border-radius: 8px;
    
} */